*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
img{
    height: 80px;
    width: 80px;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
nav{
    background: beige;
    height: 80px;
    width: 100%;
}
nav ul {
    float: right;
    margin-right: 20px;
}
nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li {
    color: black;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
a.active,a:hover{
    background: brown;
    transition: .5s;
}
.checkbutton{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: zoom-in;
    display: none;
}
#check{
    display: none;
}
@media (max-width:600px){
}
nav ul li a{
    font-size: 16px;
}
@media (max-width: 600px){
    .checkbutton{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: bisque;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 20px;
    }
    a:hover,a.active{
        background: none;
        color: beige;
    }
    #check:checked ~ ul{
        left: 0;
    }
}
.maincontainer{
    position: relative;
    width: 250px;
    height: 320px;
    background: beige;
}
.thecard{
    position:absolute;
    width: 250px;
    height: 300px;
    transform-style: preserve-3d;
    transition: all 0.5s;
    background: red;
}
.thecard:hover{
transform: rotateY('180deg');
}
.thefront{
    position:absolute;
    width: 250px;
    height: 300px;
    backface-visibility: hidden;
    background: red;
    color: black;
}
.theback{
    position:absolute;
    width: 250px;
    height: 300px;
    backface-visibility: hidden;
    background: red;
    color: black;
    transform: rotateY(180deg);
}